<%
  def project_root
    KAMAL.configured?[:config_file].join('../..')
  end
%>

service: gtfs_cache
image: umts/gtfs_cache
servers:
  web:
    - REPLACE_ME
proxy:
  ssl: true
  host: REPLACE_ME
registry:
  server: localhost:5555
builder:
  arch: amd64
  args:
    RUBY_VERSION: <%= project_root.join('.ruby-version').read.strip %>
env:
  secret:
    - MASTER_KEY
ssh:
  user: jenkins
  key_data: ["<%= ENV.fetch(JENKINS_SSH_KEY, '') %>"]
volumes:
  - "gtfs_cache_log:/app/log"
  - "gtfs_cache_tmp:/app/tmp"
