<%
  def project_root
    KAMAL.configured?[:config_file].join('../..')
  end

  def user_for(host)
    Net::SSH::Config.for(host).fetch(:user, ENV.fetch('USER', nil))
  end
%>

service: gtfs_cache
image: umts/gtfs_cache
servers:
  web:
    - afs-umts-web4.admin.umass.edu
proxy:
  ssl: true
  host: gtfs-cache.admin.umass.edu
registry:
  server: localhost:5555
builder:
  arch: amd64
  args:
    RUBY_VERSION: <%= project_root.join('.ruby-version').read.strip %>
env:
  secret:
    - MASTER_KEY
ssh:
  user: <%= user_for 'afs-umts-web4.admin.umass.edu' %>
volumes:
  - "gtfs_cache_log:/app/log"
  - "gtfs_cache_tmp:/app/tmp"
